Repository cthtuf/alertmanager-to-notion: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, autoflake, isort, black, flake8, mypy, xenon, bandit, generate_diagrams

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py312-plus
  language: system

autoflake:
  name: autoflake
  entry: poetry run autoflake
  language: system

isort:
  name: isort
  entry: poetry run isort --settings-path pyproject.toml
  language: system

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy app
  language: system
  pass_filenames: false

xenon:
  name: xenon
  entry: poetry run xenon --max-absolute B --max-modules A --max-average A app
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: poetry run bandit -r app
  language: system
  pass_filenames: false

generate_diagrams:
  name: generate_diagrams
  entry: ./generate_diagrams.sh
  language: system
  pass_filenames: true

Initial alertmanager to notion
  README.md
  app/event_handlers/__init__.py
  app/event_handlers/check_site_for_update.py
  app/event_handlers/notion.py
  app/http_handlers/__init__.py
  app/http_handlers/call_alertmanager_to_notion.py
  app/http_handlers/call_check_site_for_update.py
  app/models.py
  app/services/__init__.py
  app/services/notion.py
  app/settings.py
  config/.env.template
  deploy.sh
  docker-compose.override.yml.template
  docker-compose.yml
  docker/Dockerfile
  docs/diagrams/csfu_event_handler.mmd
  docs/diagrams/csfu_event_handler.svg
  docs/diagrams/hourly.mmd
  docs/diagrams/hourly.svg
  docs/diagrams/http_request.mmd
  docs/diagrams/http_request.svg
  docs/diagrams/main_flow.mmd
  docs/diagrams/main_flow.svg
  infra/main.tf
  infra/terraform.tfvars.template
  infra/variables.tf
  main.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/common.py
  tests/fixtures/website_content.py
  tests/test_event_handlers/test_alertmanager_to_notion.py
  tests/test_event_handlers/test_check_site_for_update.py
  tests/test_http_handlers/test_invoker.py
  tests/test_services/test_notion_service.py
Due: pyupgrade, autoflake, isort, black, flake8, mypy, xenon, bandit, generate_diagrams

Fix handling event. Add AlertManager CRD to README. Add LOG_LEVEL to settings
  README.md
  app/event_handlers/notion.py
  app/settings.py
  infra/main.tf
  main.py
  tests/test_event_handlers/test_alertmanager_to_notion.py
Due: pyupgrade, autoflake, isort, black, flake8, mypy, xenon, bandit

Replace event mock for tests with near-real data
  app/services/notion.py
  tests/fixtures/common.py
  tests/test_event_handlers/test_alertmanager_to_notion.py
  tests/test_services/test_notion_service.py
Due: pyupgrade, autoflake, isort, black, flake8, mypy, xenon, bandit

Add event details to incidents table
  app/services/notion.py
  tests/test_services/test_notion_service.py
Due: pyupgrade, autoflake, isort, black, flake8, mypy, xenon, bandit

Update README. Update main flow diagram
  README.md
  docs/diagrams/main_flow.mmd
  docs/diagrams/main_flow.svg
Due: generate_diagrams

Add shifts support
  README.md
  app/event_handlers/notion.py
  app/services/notion.py
  app/settings.py
  config/.env.template
  deploy.sh
  infra/main.tf
  infra/terraform.tfvars.template
  infra/variables.tf
  poetry.lock
  pyproject.toml
  tests/test_services/test_notion_service.py
Due: pyupgrade, autoflake, isort, black, flake8, mypy, xenon, bandit

Fix shifts enabled env. Pass log level from CI secrets. Add verbosity
  .github/workflows/cd-merge.yml
  app/services/notion.py
  app/settings.py
  deploy.sh
  infra/main.tf
  infra/variables.tf
Due: pyupgrade, autoflake, isort, black, flake8, mypy, xenon, bandit

Path conditions:
  pyupgrade: any of: \.py$
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  xenon: any of: \.py$
  bandit: any of: \.py$
  generate_diagrams: any of: ^docs/diagrams/.*\.mmd$
